/*style pour mettre les éléments au milieu*/
.milieu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 7px; 
    place-items: center;
    text-align: center;
    margin: 10px;
}
