/*style pour mettre les éléments au milieu*/
.milieu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 7px; 
    place-items: center;
    text-align: center;
    margin: 10px;
}

.image-container {
    text-align: left;
}

img {
    display: inline-block;
    vertical-align: right;
}

p {
    display: inline-block;
    vertical-align: left;
    margin-left: 10px;
}