/*style pour mettre les éléments au milieu*/
.milieu{
    /*
    display: flex;
    justify-content: center;
    align-items: center;*/
    display: grid;
    place-items: center;
    height: 50vh;
}
